<html >

<head>

<title>User Password</title>
<link rel="icon"  type="image/jpg" href="/logo.jpg">

<link type="text/css" rel="stylesheet" th:href="@{/css/main.css}" >
<link type="text/css" rel="stylesheet" th:href="@{/css/welcome.css}" >
<link type="text/css" rel="stylesheet" th:href="@{/css/form-layout.css}" >

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<meta charset="UTF-8">

</head>

<body>

<div class="page-container">

	<div th:insert="fragments/header:: header" class="header-content"></div>
	
	
	
	<div class="main-content form-layout" >
		<div class="main-content-welcome">
			<div th:text="#{user-details-headline}"class="main-content-welcome-message">
			Fő szöveg a messeage.propertiesből
			</div>
			<div class="main-content-message">
		<form th:action="@{/weinbergym/userDetailsPaaswordProcessing}"  th:object="${password}" method="POST">
	<!-- User name -->
		<div>
		 	<label th:text="#{user-details-passwordCode}" for="passwordCode"></label><br>
			<input type="text" th:field="*{passwordCode}"  th:value="#{user-details-passwordCode-message}" class="form-control" />
		</div>
		<div th:if="${#fields.hasErrors('passwordCode')}"
		class="text-danger">
			<ul>
				<li th:each="err : ${#fields.errors('passwordCode')}" th:text="#{user-details-passwordCode} + ${err}" />
			</ul>						
		</div>		
			  <input class="action-button" type="submit" th:value="#{user-details-accept-button}">
			</form> 
			</div>			
		</div>
	</div>
	
	<div th:insert="fragments/footer :: footer" class="information-content"></div>
</div>

</body>

</html>