<div class="detail-section">

    <div class="container-fluid">
        
            <img src="{{product.imageUrl}}"  class="detail-img" >
            <h1 >{{product.name}}</h1>
            <div class="price">{{product.unitPrice | currency:'USD'}}</div>
            <button (click)="addToCart()" class="btn btn-outline-primary btn-sm">Add to cart</button>
            <hr>
        <h3>Description</h3>
        <p>{{product.description}}</p>
        
        
        <a routerLink='/products' class="mt-5">Back to Product List</a>
        

    </div>
</div>